My_First_n8n_Workflow.json
{
  "name": "The First n8n Workflow",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ce7d3b06-a41c-4357-a06a-dbf4cd7e5b2e",
              "leftValue": "={{ $json.ctr }}",
              "rightValue": 0.03,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        464,
        160
      ],
      "id": "2f3e35a0-46f0-4d51-91d9-7eee6738f9f3",
      "name": "Filter",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "email",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oNu2VfcY-XiYzFyfxoobWrpIQlRoDhAIIglk0qZOvzs/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        80,
        160
      ],
      "id": "7c235659-4f9c-4d9a-8d85-86c820db7cfb",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bp1jIQ1gwr8eEIj9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4abca419-693b-4fa1-8909-92f262adf107",
              "name": "ctr",
              "value": "={{ $json.clicks / $json.impressions }}\n\n",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "ignoreConversionErrors": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        160
      ],
      "id": "bcaf634a-5683-41e5-bdfe-405be8f1ab2c",
      "name": "create_ctr"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        976,
        224
      ],
      "id": "2900afb9-6892-4b2a-bd49-1310d2468710",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "content": "### Step 1: Load data\n",
        "height": 368
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "f47a9705-52b9-437e-9dc9-64ff4d878c30",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### Step 2: Clean & process data\n",
        "height": 368,
        "width": 368,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        256,
        0
      ],
      "typeVersion": 1,
      "id": "7ab281ae-0142-451a-916b-fd76c504d073",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### Step 3: Add AI summary\n",
        "height": 368,
        "width": 272,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        0
      ],
      "typeVersion": 1,
      "id": "cbbb1dac-629e-41f8-8dd0-f5c547b2cb43",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### Step 4: Send out report\n",
        "height": 368,
        "width": 464,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        0
      ],
      "typeVersion": 1,
      "id": "a0021357-e27e-4052-bcae-6818493ceeec",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "sendTo": "yrp919@gmail.com",
        "subject": "=Weekly Ad{{ $json.output[0].content[0].text.header.subject }} Campaign Report",
        "message": "=Please f{{ $json.output[0].content[0].text.body }}ind attached the latest report.",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1280,
        144
      ],
      "id": "30407cc1-b749-4abc-9e5f-3f13453c5b06",
      "name": "Gmail",
      "webhookId": "928ee1e3-db2c-408c-9ffa-cc1b67fcec5d",
      "credentials": {
        "gmailOAuth2": {
          "id": "B71kGinNCEZdKlvH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -144,
        160
      ],
      "id": "d857dceb-397d-4efa-8a90-73d91ca50f8a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Write an email that summarizes these ad campaigns. These are all low-performing  \nCTR campaigns.\nReturn the response as a JSON object with the following structure:\n{\n}\n  “header”: {\n    “to”: “Account Manager”,\n    “subject”: “[subject line here]”,\n    “from”: “Dawn”\n  },\n  “body”: “[HTML formatted email content here]”\nRequirements:\n• Format the email body as HTML (use <p>, <h2>, <table>, <ul>, <li> tags as appropriate)\n• Address the recipient as “Hi Account Manager” at the start\n• Sign off with “Best regards, Dawn” at the end\n• Include a professional summary of campaign performance\n• Highlight key metrics and patterns\n• Provide actionable recommendations\n• At the end of the email, state: “This report summary was auto-generated with AI. If you  \nhave any issues or questions, please respond to this email, and I will personally review it.”\n• Use HTML tables to display campaign data where applicable\nCampaign Data:\n{{ JSON.stringify($input.all(), null, 2) }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        672,
        96
      ],
      "id": "33dc29a7-f48e-4b6f-b78a-64366017dcc2",
      "name": "Message a model",
      "executeOnce": true,
      "credentials": {
        "openAiApi": {
          "id": "wvK4xAIrNGGJZUHL",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1120,
        96
      ],
      "id": "7ca72b55-e7c4-487a-95c0-c7cb4357eb3a",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Filter": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "create_ctr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_ctr": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "92daa9bc-0c9a-407c-9af8-becad4639744",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e8d9687b4bc5acfde85f9f16fe74ef4803095b28db969f35f06c3f8b3529c484"
  },
  "id": "yY9dodgZYWFyewXr",
  "tags": []
}